body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #DCEDFF;
    color: #FBFBFF;
    width: 100%;
}

* {
    /* border: 1px solid red; */
}

.fullPage {
    display: grid;
    grid-template-columns: 10% 33% 43% 3%;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.title {

    display: flex;
    justify-content: center;
    background-color: #182857;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1;



}

h1 {
    max-width: 75%;
    padding: 1em;
    border: solid 3px;
}

.navBar {
    background-color: #182857;
    /* padding: 25px 5px; */
    grid-column: 1/4;
    grid-row: 4;

    nav li {
        position: relative;
        display: block;
        opacity: 0;
        cursor: pointer;
    }

    nav li>ul {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        transform: translateY(-105%);
    }

    nav>ul {
        display: flex;
    }

    nav>ul>li {
        pointer-events: all;
        opacity: 1;
    }

    ul li a {
        white-space: nowrap;
        display: block;
    }

    li:hover>ul {
        pointer-events: initial;
    }

    li:hover>ul>li,
    ul:hover>li {
        opacity: 1;
    }

    nav>ul>li li ul {
        transform: translate(85%, -100%);
        top: 100%;
        right: 0;
    }

    nav {
        margin-top: 0px;
        margin-left: 0px;
    }

    nav a {
        background: #628395;
        color: #FFF;
        min-width: 190px;
        transition: background 0.5s, color 0.5s, transform 0.5s;
        margin: 0px 6px 6px 0px;
        padding: 20px 40px;
        box-sizing: border-box;
        border-radius: 3px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    nav a:hover:before {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
    }

    /* nav>ul>li>a+ul:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-bottom: 10px solid white;
        transform: translateX(0) translateY(700%);
        left: 12px;
        top: -40px;
    } */

    nav li>ul>li>a+ul:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-left: 10px solid white;
        transform: translateX(0) translateY(300%);
        top: 20px;
        left: 10px;
        transition: opacity 0.6s, transform 0s;
    }

    nav>ul>li>ul>li {
        transition: transform 0.6s, opacity 0.6s;
        transform: translateY(-100%);
        opacity: 0;
    }

    nav>ul>li:hover>ul>li,
    nav>ul>li.hover>ul>li {
        transform: translateY(-100%);
        opacity: 1;
    }

    li>ul>li>ul>li {
        transition: transform 0.6s, opacity 0.6s;
        transform: translateX(195px) translateY(0%);
        opacity: 0;
    }

    li>ul>li:hover>ul>li,
    li>ul>li.hover>ul>li {
        transform: translateX(0) translateY(6px);
        opacity: 1;
    }
}

.mainBodyText {
    color: rgba(255, 255, 255, 1);
    background-color: #628395;
    text-align: left;
    width: 90%;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    grid-column: 3;
    grid-row: 2;
}

.mainBodyPic {
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2;
    /* box-shadow: 10px 10px 10px black; */
}

.mainBodyPic img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* overflow: hidden; */
}

.secondaryBodyText {
    color: rgba(255, 255, 255, 1);
    background-color: #628395;
    text-align: left;
    width: 90%;
    margin: 10px;
    font-size: 18px;
    grid-column: 2/3;
    grid-row: 3;
}

.secondaryBodyPic {
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 3;
}

.secondaryBodyPic img {
    width: 100%;
    height: 100%;
    /* box-shadow: 10px 10px 10px black; */
    object-fit: contain;
    border-radius: 100%;
}

.links-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 40px;
    justify-content: right;
    grid-column: 1;
    grid-row: 2;
}

.links-container>div {
    background-color: #628395;
    width: 75px;
    height: 75px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-container>div>a>img {
    max-width: 100%;
    max-height: 100%;
}

.pdf {
    width: 80vw;
    height: 80vh;
    aspect-ratio: 4 / 3;
    grid-column: 1/5;
    grid-row: 2;
    place-self: center;
}

.pdf iframe {
    width: 100%;
    height: 100%;
}

.pdf,
body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
}